@if (Request.IsAuthenticated) {
    <div class="pop">
        Здравствуйте, @Html.Label(User.Identity.Name)
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
        }
    </div>
} else {
    <div class="pop">
        Здравствуйте, гость
        <br/>
        @Html.ActionLink("Войти", "Login", "Account")
    </div>
}