@{
    ViewBag.Title = "Кадровое агенство";
}

<div class="title">
    <h2>Главная страница</h2>
</div>

<div class="tar">
    @Html.ActionLink("Соискателям", "InformationApplicant", "Home")
</div>

<div style="text-align:end; margin-right:350px">
    @Html.ActionLink("Работодателям", "InformationEmployer", "Home")
</div>

<div style="text-align:center; margin-right:250px; margin-left:250px; margin-top:10px">
    Мы занимаемся подбором персонала. Наши ресурсы и опыт позволяют нам решать самые нестандартные задачи. Наше кадровое агенство осуществляет подбор персонала различных уровней квалификации, исходя из требований Заказчика.
</div>