@{
    ViewBag.Title = "Информация для соискателей";
}

<div class="title">
    <h2>@ViewBag.Title</h2>
</div>

<div style="margin-right:500px">
    Наше агенство приглашает Вас на анкетирование с последующим подбором вакансий с учетом Ваших способностей, опыта и пожеланий.<br/>
    Составление профессионального эффективного резюме, подготовка к собеседованию.
    Помощь в трудоустройстве по вашему городу и области на предприятия, организации, фирмы и к частным лицам, широкий спектр постоянно обновляющихся вакансий, как постоянных, так и подработки (от нескольких часов до суток).
    Консультации по вопросам трудоустройства и карьере.

    <br/>

    Основные шаги к новой работе:
    <p/>
    Шаг 1. Составьте резюме.<br/>
    Шаг 2. Просмотрите вакансии, размещённые на сайте.<br/>
    Шаг 3. Уточните наличие интересующей Вас вакансии по тел. 8 898 765 4321.<br/>
    Шаг 4. Проработайте полученные вакансии.<br/>
    Шаг 5. Пройдите собеседование с работодателями.<br/>
    Шаг 6. Удачи на новой работе!<br/>
    <p/>
    Стоимость наших услуг составляет 1000 рублей за месячный абонемент.
</div>