@{
    ViewBag.Title = "Информация для работодателей";
}

<div class="title">
    <h2>@ViewBag.Title</h2>
</div>

<div style="margin-right:500px">
    Уважаемый работодатель!
    <p/>
    Наше кадровое агенство осуществляет эффективный поиск и подбор персонала от массового до элитного, под Вашу корпоративную культуру, с личностными и профессиональными составляющими.
    <p/>
    Наши преимущества:
    <p/>
    <ul>
        <li>постоянное пополнение базы актуальных резюме</li>
        <li>анализ требований заказчика и возможностей кандидата</li>
        <li>предоставление нескольких кандидатур</li>
    </ul>
    <p/>
    Порядок взаимодействия определяется и уточняется исходя из складывающейся ситуации (срочность выполнения заказа, требуемая специализация, квалификации специалиста и т.д.) на этапе предварительного согласования.
    <p/>
    Программа сотрудничества включает:
    <p/>
    <ul>
        <li>предварительное согласование требований заказа и условий его выполнения</li>
        <li>обеспечение информационной поддержки Заказчика в рамках исполняемого заказа</li>
        <li>уточнение и корректировку требований к соискателям на основе рекомендаций, вырабатываемых в процессе выполнения работ</li>
        <li>представление кандидатов, отвечающих требованиям и пожеланиям Заказчика</li>
        <li>гарантии на подобранный персонал (бесплатные замены)</li>
        <li>соблюдение условий конфиденциальности</li>
        <li>удобные условия работы и оплаты</li>
    </ul>
    <p/>
    Стоимость наших услуг составляет 1000 рублей за месячный абонемент.
</div>